/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BODY */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
}

/* LOGO */
.logo-dev {
  height: 150px;
  max-width: 100%;
  object-fit: contain;
}

/* NAVBAR */
.navbar {
  border-bottom: 3px solid #FFD700;
  background-color: #000;
}

.nav-link {
  font-weight: 500;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffffff !important;
}

/* HEADER */
header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
}

/* CARROSSEL */
.carousel-section {
  background-color: #f8f9fa;
}

.carousel-caption h5 {
  font-weight: bold;
  color: #FFD700;
}

.carousel-caption p {
  color: #fff;
  font-size: 1rem;
}

/* FOOTER */
footer p {
  font-size: 0.9rem;
  margin: 0;
}

/* RESPONSIVO */
@media (min-width: 500px){ 
    nav p {
        font-size: 1.5rem;
    }


  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }

  .logo-dev {
    height: 50px;
  }

  }/* RESPONSIVO */
@media (min-width: 1000px) {
    
  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }

  .logo-dev {
    height: 100px;
  }
}


/* ===========================
       SOBRE NÓS 
============================== */
#sobrenos{
   
}
#sobrenos ul{
    list-style: none;
}

#sobrenos ul li {
    font-weight: bold;
}

