/* RESET GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BODY */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

/* LINKS */
a {
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

/* =======================================
   NAVBAR
======================================= */
.navbar {
  border-bottom: 2px solid #ffffff; /* Linha amarela sob a navbar */
  background-color: #000000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 01.1rem);
}

.navbar .navbar-brand span {
  font-size: 0.85rem;
  font-weight: 500;
}
.navbar p {
  font-size: 10px;
  text-align: center;
}

/* =======================================
   LOGO
======================================= */
.logo-dev {
  height: 150px;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 576px) {
  .logo-dev {
    height: 60px;
  }
}

/* =======================================
   HEADER
======================================= */
header {
  background-color: #FFD700;
 color: #000000!important;
  padding: 2rem 0;
  text-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
}

@media (max-width: 576px) {
  header h1 {
    font-size: 1.6rem;
  }

  header p {
    font-size: 1rem;
  }
  .carousel-item img {
    width: 100px;
  }
}

/* =======================================
   CARROSSEL
======================================= */
.carousel-section {
  background-color: #f8f9fa;
  padding: 2rem 0;
  
  
}

.carousel-inner {
  border-radius: 8px;
  overflow: hidden;
  
  
}

.carousel-img {
  height: 450px;
  width: 100%;
  object-fit: cover;

}

/* =======================================
   FOOTER
======================================= */
footer {
  background-color: #000000;
  color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: auto;
}

footer h5 {
  color: #FFD700;
  font-weight: bold;
  margin-bottom: 10px;
}

footer p,
footer li {
  font-size: 0.9rem;
  color: #cccccc;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer a {
  color: #FFD700;
  transition: color 0.3s;
  cursor: pointer;
}

footer a:hover {
  color: #ffffff;
}

footer .border-secondary {
  border-color: #444 !important;
}

footer .text-muted {
  font-size: 0.8rem;
  color: #888888 !important;
}
/* =======================================
   RESPONSIVIDADE CELULAR
======================================= */
@media (max-width: 576px) {
  footer h5 {
    font-size: 1.1rem;
  }

  footer p,
  footer li {
    font-size: 0.85rem;
  }
}
.car{
  color: #FFD700;
}